*{
    text-transform: uppercase;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    gap: 8vh;
    background-color: #303841;
    height:100vh;
    box-sizing: border-box;
    padding: 4rem 0 0 0;
.title{
    height: 50vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        @media only screen and (max-width: 420px) {
            font-size: 4rem;
        }
        text-align: center;
        color: #00ADB5;
        font-size: 5rem;
    }
    p{
        text-align: center;
        font-size: 2rem;
        // background-color: white;
        border-radius: 0.3rem;

        margin-bottom: 2rem;
        color: #EEEEEE;

    }
    .discover{
        cursor: pointer;
        font-size: 1.5rem;
        padding: 1rem 1rem;
        border-radius: 0.3rem;
        color: #00ADB5;
        border:solid 2px #00ADB5 ;
        transition: all 0.3s ease-in-out;
    }
    .discover:hover{
        color: #EEEEEE;
        background-color: #00ADB5;
    }
    .discover:active{
        background-color: #00949c;
        border: none;
    }
}

}