<nav>
    <div class="logo" routerLink="home">
        <img src="../../../assets/thermos-logo-png-transparent.png" alt="">
<p>TOURNAMENTS</p>
    </div>

    <div class="navigation">
        <ul>
            <li>
                <a routerLink="home" routerLinkActive="active">HOME</a>
            </li>
            <li>
                <a routerLink="tournaments" routerLinkActive="active">TOURNAMENTS</a>
            </li>
            <li>
                <a href="https://discord.gg/rWQyGcy6Cb" target="_blank" rel="noopener noreferrer">DISCORD</a>
            </li>
        </ul>
    </div>
<div class="login-buttons">
    <button class="login" [routerLink]="['/login']" *ngIf="!login">LOGIN</button>
    <button class="s-up" [routerLink]="['/sign-up']" *ngIf="!signUp">Sign Up</button>
</div>
</nav>