<div class="page-wrapper">
    <div class="left-section">
      <img src="../../../assets/thermos-logo-png-transparent.png" alt="" />
      <h1>TOURNAMENTS</h1>
    </div>
    <div class="login">
      <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h1>ACCOUNT CREATION</h1>
        <div class="inputs">
            <input
            [class.is-invalid] = "userName.invalid &&
            userName.touched"
            type="text"
            class="input"
            matInput
            formControlName="userName"
            
            placeholder="USERNAME"
          />
          <div *ngIf="userName.invalid && userName.touched">
            <small *ngIf="userName.errors?.['required']" class="text-danger">Username is required!</small>
            <small *ngIf="userName.errors?.['minlength']" class="text-danger">Username must be at least 4 charecters</small>
            </div>
            <br>
          <input
            id="email"
            type="email"
            class="input"
            matInput
            formControlName="email"
            [class.is-invalid] = "email.invalid && email.touched"
            placeholder="EMAIL"
          />
          <div *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.['required']" class="text-danger">EMAIL IS REQUIRED!</small>
            </div>
          <br>
          <input
            id="password"
            type="password"
            class="input"
            placeholder="PASSWORD"
            matInput
            formControlName="password"
            [class.is-invalid] = "password.invalid && password.touched"
          />
          <div *ngIf="password.invalid && password.touched">
            <small *ngIf="password.errors?.['required'] || password.errors?.['minlength']" class="text-danger">PASSWORD MUST BE ATLEAST 8 CHARECTERS</small>
            </div>
          <br>
          <input
          type="password"
          class="input"
          placeholder="CONFIRM PASSWORD"
          matInput
          formControlName="cpassword"
          [class.is-invalid] = "signUpForm.errors?.['passwordsNotMatch'] && password.touched"
        />
        <div *ngIf=" cpassword.touched">
          <small *ngIf="signUpForm.errors?.['passwordsNotMatch']" class="text-danger">PASSWORDS MUST MATCH</small>
          </div>
        </div>
         <button  type="submit" class="signup-btn" [disabled]="!signUpForm.valid || signUpForm.value.password != signUpForm.value.cpassword">SIGN UP</button>
  
        <hr >
        <div class="login-with" >
          <h2 >
            SIGNUP WITH
          </h2>
        </div>
        <a class="google-logo" (click)="signInWithGoogle()"><img style="height:2.5rem;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2008px-Google_%22G%22_Logo.svg.png" alt=""></a>
      </form>
     
    </div>
  </div>
  