.page-wrapper{
    background-color: #303841;
    height:100vh;
    display: flex;
    box-sizing: border-box;
    padding: 4rem 0 0 0;
    align-items: center;
    justify-content: space-between;
    .left-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        height: 100%;
        background-image: url('../../../assets/kayn-signup.jpg');
        background-size: cover;
        background-position: center;
        h1{
            color: #00ADB5;
            padding-left: 1rem;
            font-size: 2.6rem;
        }
        img{
            width:30vw;
            height: 40vh;
            object-fit:cover;
            object-position: 50% 15%;
            filter: invert(0.9);
        }
    }
    .login{
        // margin-bottom: 10rem;
        width: 50vw;
        display: flex;
        justify-content: center;
    .form{
        display: flex;
        flex-direction: column;
        gap: 4vh;
        h1{
            font-size: 2.3rem;
            color: #00ADB5;
        }
        .inputs{

        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3vh;
        width: 30rem;
        .label:focus{
            padding-top: 1rem !important;
        }
        .input{
            color: #00ADB5;
            padding-left:1rem ;
          height: 6vh;
          width: 20vw;
          font-size: 1.4rem;
          border-radius: 0.3rem;
          border: none;
        // background-color: #EEEEEE;
        }
        }
        .signup-btn{
            cursor: pointer;
            border-radius: 0.3rem;
            font-size: 1.5rem;
            width: 20.9vw;
            height: 6vh;
            color: #00ADB5;
            border:solid 2px #00ADB5 ;
            transition: all 0.3s ease-in-out;
        }
        .signup-btn:hover{
            color: #EEEEEE;
            background-color: #00ADB5;
        }
        .signup-btn:active{
            background-color: #00949c;
            border: none;
        }
    }
    }
}
input:focus{
    outline: none;
}
button:disabled {
    cursor: not-allowed !important;
  }