<div class="page-wrapper">
    <div class="left-section">
      <img src="../../../assets/thermos-logo-png-transparent.png" alt="" />
      <h1>TOURNAMENTS</h1>
    </div>
    <div class="login">
      <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h1>ACCOUNT CREATION</h1>
        <div class="inputs">
            <input
            
            type="text"
            class="input"
            matInput
            formControlName="userName"
            
            placeholder="USERNAME"
          />
          <input
            id="email"
            type="email"
            class="input"
            matInput
            formControlName="email"
           
            placeholder="EMAIL"
          />
  
          <input
            id="password"
            type="password"
            class="input"
            placeholder="PASSWORD"
            matInput
            formControlName="password"
           
          />
          <input
          type="password"
          class="input"
          placeholder="CONFIRM PASSWORD"
          matInput
          formControlName="cpassword"
         
        />
        </div>
         <button  type="submit" class="signup-btn" [disabled]="!signUpForm.valid || signUpForm.value.password != signUpForm.value.cpassword">SIGN UP</button>
  
        <hr >
        <div class="login-with" >
          <h2 >
            SIGNUP WITH
          </h2>
        </div>
        <a class="google-logo" (click)="signInWithGoogle()"><img style="height:2.5rem;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2008px-Google_%22G%22_Logo.svg.png" alt=""></a>
      </form>
     
    </div>
  </div>
  