
*{
    text-transform: uppercase;
}
.main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 6vh;
    background-color: #303841;
    min-height:100vh;
    box-sizing: border-box;
    padding: 7rem 2rem 0 2rem;
    @media only screen and (max-width: 950px) {
        padding:7rem 1rem 0 1rem;
    }

    .page-header{
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 950px) {
            gap: 2vh;
            align-items: center;
        flex-direction: column;
        }
.title{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    
    @media only screen and (max-width: 950px) {
    // width: 100%;
    h1{
        font-size: 3rem !important;
    }
    
    }
    h1{
        color: #00ADB5;
        font-size: 3.5rem;
        border-bottom: 2px solid #EEEEEE;
    }
}
.list{
    width: 13vw;
    height: fit-content;
    border-radius: 0rem !important;
    @media only screen and (max-width: 950px) {
        width: auto;
    }
}
    }
.body{
    border-radius: 0.3rem;
    padding: 2rem 3rem;
    background-color: #EEEEEE;
    width: 76vw;

}

}
