
*{
    text-transform: uppercase;
}
.main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    // padding: 2rem;   
    gap: 6vh;
    background-color: #303841;
    height:100vh;
    box-sizing: border-box;
    padding: 7rem 2rem 0 2rem;
    .page-header{
        display: flex;
        justify-content: space-between;
.title{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    hr{
        width:16vw;
    }
    h1{
        color: #00ADB5;
        font-size: 3.5rem;
    }
}
.list{
    width: 13vw;
    height: fit-content;
    border-radius: 0rem !important;

}
    }
.body{
    border-radius: 0.3rem;
    padding: 2rem 3rem;
    background-color: #EEEEEE;
    width: 76vw;

}
    
}
