.main{
    background-color: #303841;
    height:91.1vh;
.title{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: #00ADB5;
        font-size: 5rem;
    }
}
}