<div class="main">
    <div class="page-header">
        <div class="title">
            <h1> TOURNAMENTS  </h1>
        </div>
        <mat-form-field class="list">
            <mat-label class="mat-label" >Choose a game</mat-label>
            <mat-select >
              <mat-option value="option1">League Of Legends</mat-option>
              <mat-option value="option2">Valorant</mat-option>
              <mat-option value="option3">TFT</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
    <div class="body">
        <h1>
            Enter tournaments to earn free points !
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum assumenda maiores magni optio at harum rem ratione quam enim reprehenderit repudiandae laborum quod vero, sint delectus atque, earum quaerat libero!</p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium aut quidem laudantium optio in iusto, pariatur officia tenetur, suscipit dolorem officiis impedit ullam sit quod soluta quisquam minima fuga animi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum assumenda maiores magni optio at harum rem ratione quam enim reprehenderit repudiandae laborum quod vero, sint delectus atque, earum quaerat libero!</p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium aut quidem laudantium optio in iusto, pariatur officia tenetur, suscipit dolorem officiis impedit ullam sit quod soluta quisquam minima fuga animi!</p>
    </div>
</div>


