.page-wrapper{
    padding: 2rem;
    .cards{
        display: flex;
        row-gap: 3rem;
        column-gap: 4rem;
        flex-wrap: wrap;
        justify-content: center;
        @media only screen and (max-width: 950px) {
            flex-direction: column;
           column-gap: 1rem;
        }
        // justify-content: s;
        .card{
            height: auto;
            width: auto;
            border-radius: 0.3rem;
            background-repeat: no-repeat;
            background-color: #36414b;
            box-shadow:  0 0 20px rgba(0, 0, 0, 0.692);
            background-blend-mode:overlay;
            background-size: cover;
            background-position: 50% 0%;
            transition: all 0.3s ease;
            &:hover{
              scale: (1.03);
            }
            @media only screen and (max-width: 950px) {
                width: 100%;
                background-position: 50% 10%;
            }
            .desc{
                padding: 1rem;
                box-sizing: border-box;
                gap: 2rem;
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                color: #EEEEEE;
                h1{
                    font-size: 1.7rem;
                }
                h3{
                  @media only screen and (max-width: 950px) {
                    // margin-top: 80%;
                  }
                  margin-top: 10rem;
                  font-size: 1rem;
                    width:90%;
                    color: #dfdfdf;
                }
                .details{
    
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                  width: 100%;
                    
                    row-gap: 2rem;
                    column-gap: 5rem;
                    h4{
                        font-size: 1.3rem;
                    }
                    p{
                        color: #00adb5;
                        font-size: 1rem;
                    }
                }
                .buttons {

                    button {
                      font-size: 1.2rem;
                      font-family: "Fjalla One", sans-serif;
                      height: 5vh;
                      width: 7vw;
                      border-radius: 0.3rem;
                      border: none;
                      cursor: pointer;
                      @media only screen and (max-width: 950px) {
                        padding: 0 1rem ;
                       width: fit-content;
                    }
                    }
                    .join-btn {
                      color: #3a4750;
                      border: solid 2px #3a4750;
                      transition: all 0.3s ease-in-out;
                    }
                    .join-btn:hover {
                      color: #eeeeee;
                      background-color: #3a4750;
                    }
                    .join-btn:active {
                      background-color: #495965;
                      border: none;
                    }
                  }
            }
        }
    }
}