<div class="page-wrapper">
  <div class="left-section">
    <img src="../../../assets/thermos-logo-png-transparent.png" alt=""  />
    <h1>TOURNAMENTS</h1>
  </div>
  <div class="login">
    <form class="form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <h1>LOGIN</h1>
      <div class="inputs">
        <input
        id="email"
        type="email"
        class="input"
        matInput
        formControlName="email"
        [class.is-invalid] = "email.invalid && email.touched"
        placeholder="EMAIL"
      />
      <div *ngIf="email.invalid && email.touched">
        <small *ngIf="email.errors?.['required']" class="text-danger">EMAIL IS REQUIRED!</small>
        </div>
      <br>
      <input
        id="password"
        type="password"
        class="input"
        placeholder="PASSWORD"
        matInput
        formControlName="password"
        [class.is-invalid] = "password.invalid && password.touched"
      />
      <div *ngIf="password.invalid && password.touched">
        <small *ngIf="password.errors?.['required'] " class="text-danger">PASSWORD IS REQUIRED!</small>
        </div>
      </div>
      <button  type="submit" class="login-btn" [disabled]="!signInForm.valid">LOGIN</button>

      <hr  >
      <div class="login-with" >
        <h2 >
          LOGIN WITH
        </h2>
      </div>
      <a  class="google-logo" (click)="signInWithGoogle()"><img style="height:2.5rem;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2008px-Google_%22G%22_Logo.svg.png" alt=""></a>
    </form>
   
  </div>
</div>
